ixFrame/Copy/Service References/UploadFile/UploadFile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveFileStream">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buffer" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="index" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="n" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SavePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFileStreamResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveFileStreamResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Err" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveFileStreamSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFileStream" />
  </wsdl:message>
  <wsdl:message name="SaveFileStreamSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFileStreamResponse" />
  </wsdl:message>
  <wsdl:portType name="UploadFileSoap">
    <wsdl:operation name="SaveFileStream">
      <wsdl:input message="tns:SaveFileStreamSoapIn" />
      <wsdl:output message="tns:SaveFileStreamSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadFileSoap" type="tns:UploadFileSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFileStream">
      <soap:operation soapAction="http://tempuri.org/SaveFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadFileSoap12" type="tns:UploadFileSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveFileStream">
      <soap12:operation soapAction="http://tempuri.org/SaveFileStream" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadFile">
    <wsdl:port name="UploadFileSoap" binding="tns:UploadFileSoap">
      <soap:address location="http://image.e-jjj.com/UploadFile.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadFileSoap12" binding="tns:UploadFileSoap12">
      <soap12:address location="http://image.e-jjj.com/UploadFile.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>